/* css styles */
/*-- scss:defaults --*/
body {
    // By default, EB Garamond uses "old-styles" numerics which have a baseline offset
    // for some numerals. This turns that ugly feature off.
    font-variant-numeric: lining-nums;
}

dl.code-annotation-container-grid dt {
    // needed because I have changed the font
    line-height: 20px !important;
}

// Hide #TOC-body on wide screens
#TOC-body {
    display: none;
}

// And show it one thin screens
@media (max-width: 767.98px) {
    #TOC-body {
        display: block;
    }
}

@media print {
    // hide not-useful elements
    // site header, site footer, back-to-top button, CV cover image, sidebar
    header#quarto-header, footer, a#quarto-back-to-top, .quarto-about-marquee .about-image-container, #quarto-margin-sidebar {
        display: none;
    }
}

// $mermaid-bg-color: $body-bg;
// $mermaid-edge-color: $secondary;
// $mermaid-node-fg-color: $body-color;
// $mermaid-fg-color: $body-color;
// $mermaid-fg-color--lighter: lighten($body-color, 10%);
// $mermaid-fg-color--lightest: lighten($body-color, 20%);
$mermaid-font-family: "EB Garamond, Georgia, serif";
$mermaid-label-bg-color: #000000;
$mermaid-label-fg-color: #000000;
// $mermaid-node-bg-color: rgba($primary, 0.1);
// $mermaid-node-fg-color: $primary;